<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./jupiter.css">
    <title>Jupiter</title>
</head>
<body>
    <h1>JUPITER</h1>
    <p>Jupiter es el planeta más grande del sistema solar. Es un gigante gaseoso compuesto principalmente de hidrógeno y helio. Tiene una masa más grande que todos los demás planetas juntos.</p>
    <br>
    <a href="/">← Volver a la pagina principal</a>
</body>
</html>