<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./marte.css">
    <title>Marte</title>
</head>
<body>
    <h1>MARTE</h1>
    <p>Marte es el cuarto planeta desde el Sol y es conocido como el "planeta rojo" debido a su color característico. Tiene una superficie rocosa y un diámetro aproximadamente la mitad del de la Tierra.</p>
    <br>
    <a href="/">← Volver a la pagina principal</a>
</body>
</html>