<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Mercurio.css">
    <link rel="icon" type="image/png" href="./globe.png">
    <title>mercurio</title>
</head>
<body>
    <h1>Mercurio</h1>
    <p>Mercurio es el planeta más cercano al Sol y el más pequeño del sistema solar. Tiene una superficie rocosa y carece de atmósfera significativa.</p>
    <img src="https://th.bing.com/th/id/OIP.3Y8S2Qz53jD2pW6OpBEnAAHaEL?w=327&h=183&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3" alt="mercurio">
    <br>
    <a href="/">← Volver a Pagina principal</a>
</body>
</html>