body{
    background-image: url('./neptuno.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #e3fa6f;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #3e3d3d;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}
a:hover{
    transition: color 0.1s;
    color: #fb2e13;
    cursor: pointer;
}
a:active{
    color: #0bde12;
}