<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./neptuno.css">
    <title>Neptuno</title>
</head>
<body>
    <h1>NEPTUNO</h1>
    <p>Neptuno es el octavo planeta desde el Sol y es un gigante de hielo. Es el planeta más alejado del Sol en nuestro sistema solar.</p>
    <br>
    <a href="/">← Volver a la pagina principal</a>
</body>
</html>