<!DOCTYPE html>
<link rel="stylesheet" href="./planetas.css">
<link rel="icon" type="image/png" href="./planet-earth.png">
<html>
<head>
    <title>Planetas</title>
</head>
<body>
    <h1>Bienvenido a Planetas</h1>
    <p>Luis, El servidor está funcionando correctamente</p>
    <ul>
    <li><a href="/mercurio" target="_blank">MERCURIO</a></li>
    <li><a href="/venus" target="_blank">VENUS</a></li>
    <li><a href="/tierra" target="_blank">TIERRA</a></li>
    <li><a href="/marte" target="_blank">MARTE</a></li>
    <li><a href="/jupiter" target="_blank">JUPITER</a></li>
    <li><a href="/saturno" target="_blank">SATURNO</a></li>
    <li><a href="/urano" target="_blank">URANO</a></li>
    <li><a href="/neptuno" target="_blank">NEPTUNO</a></li>
    </ul>
</body>
</html>
