
body{
    background-image: url('./image.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #e3fa6f;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    color: #353434;
    font-weight: bold;
    font-size: 20px;
}

a:hover{
    transition: color 0.3s;
    color: #ff6600;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flexbox;
    justify-content: center;
    gap: 20px;
}

li{
    margin: 5px;
    padding: 5px;
}