<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./saturno.css">
    <title>Saturno</title>
</head>
<body>
    <h1>SATURNO</h1>
    <p>Saturno es el sexto planeta desde el Sol y es conocido por sus impresionantes anillos de hielo y rocas. Es un gigante gaseoso compuesto principalmente de hidrógeno y helio.</p>
    <br>
    <a href="/">← Volver a la pagina principal</a>
</body>
</html>