<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./urano.css">
    <title>Urano</title>
</head>
<body>
    <h1>URANO</h1>
    <p>Urano es el séptimo planeta desde el Sol y es un gigante de hielo. Es notable por su rotación lateral, lo que significa que rota sobre su eje de manera casi paralela al plano orbital.</p>
    <br>
    <a href="/">← Volver a la pagina principal</a>
</body>
</html>